

a
{
	color: #333366;
    text-decoration: underline;
}

a:hover
{
	color: #333366;
    text-decoration: underline;
}

.error {
	color: #FF0000;
}

.sortLink {
	color: #333366;
    text-decoration: none;
}
#panel-studierender {
    height: 190px;
}

#panel-auslandssemester {
    height: 190px;
}

.container {
    margin-top: 50px;
}
.container .panel h1 {
    margin-bottom: 30px;
    display: inline-block;
}
.panel {
    margin-bottom: 30px;
}

#btn_logout {
    float: right;
    margin-top: 27px;
}

.col-md-12 ~.col-md-12, .col-md-7 ~.col-md-12 {
    margin-top: 30px;
}
.logo-container {
    width: 100%;
    margin-bottom: 25px;
}
.logo-container img {
    width: 250px;
    float: right;
}
.icon-red i.glyphicon {
    color:#d9534f;
}
#messages {
    margin-bottom: 15px;
}
@media(min-width:1100px){.modalKurswahl .modal-lg{width:1050px}}